<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>fundamental constants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div *ngFor="let genre of genres">
      <ion-grid>
        <ion-row><strong>{{genre}}</strong></ion-row>
        <ion-row>
          <ion-col
            size="3"
            class="ion-align-self-center"
            *ngFor="let n of numbaList[genre]"
            ><ion-button
              size="large"
              expand="block"
              [routerLink]="['/play/' + n.id]"
              >{{n.nickname}}</ion-button
            ></ion-col
          >
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
